header {
    background-color: #0056b8; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px; 
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1; 
}


h1 {
    font-family: 'roboto', serif; 
    font-size: 48px; 
    color: white;
    margin: 0;
    text-align: center; 
}

.titre {
    text-align: center;
    margin: 20px 0;
    margin-left: 170px;
}

.menu {
    display: flex;
    align-items: center;
    font-weight: bold; 
    margin-left: 20px; 
}

.barre {
    position: relative;
}

.barre-menu {
    background-color: #0056b8;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.barre-menu:hover {
    background-color: #004195;
}

.barre-contenue {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease;
}

.barre:hover .barre-contenue {
    visibility: visible;
    opacity: 1;
}

.barre-contenue a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.barre-contenue a:hover {
    background-color: #ddd;
}
.titre-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}
.titre {
    text-align: center;
    flex-grow: 1; 
}

.logo {
    width: 350px;
    height: auto;
    margin: 0 auto; 
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    margin-right: 20px; 
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-item:hover {
    text-decoration: underline; 
}
.ecrire {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    width: 200px; 
}

.rechercher {
    background-color: #0056b8;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.rechercher:hover {
    background-color: #004195;
}



.img-home{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(3, 15, 49, 0.75),rgba(4, 28, 65, 0.75)),url(img/img1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-home h1{
    margin-top: 50%;
    margin-bottom: 50%;
    color: white;
    font-family: 'roboto', sans-serif;
    font-size: 50px;
}

.randonne-container h1{
    margin-top: 35px;
    font-family: 'roboto', sans-serif;
    text-align: center;
    font-size: 35px;
    color: #004195;
}

.randonne-container p{
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 30px;
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    color: #004195;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .flex-container img{
    box-shadow: 0px 5px  5px rgb(180, 180, 180);
  }

  .flex-container h1{
    margin: 5px;
    margin-bottom: 30px;
    color: #0056b8;
    font-size: 15px;
    font-family: 'roboto', sans-serif;
  }

  .flex-container :hover{
    transform: scale(1.02);
    transition: 0.5s;
  }
  
  .flex-container > div {
    width: 100px;
    margin-right: 200px;
    line-height: 25px;
  }



.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    color: white;
}
.footer-section p,a{
    color: white;
}
.footer-section h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-section p, .footer-section ul {
    font-size: 16px;
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #FFD700; /* Or another highlight color */
}

.footer-bottom {
    font-size: 14px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}

footer {
    background-color: #0056b8;
    color: white;
    text-align: center;
    font-family: 'roboto', sans-serif;
    padding: 20px 0;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
}